version: "3.8"
services:
  database:
    image: postgres:13.1-alpine
    environment:
      - POSTGRES_DB=starsky
    ports:
      - 5432:5432
    networks:
      - starskynet
  api:
    build:
      context: ../.
      dockerfile: docker/api/Dockerfile
    ports:
      - 8080:8080
    depends_on:
      - database
    networks:
      - starskynet
networks:
  starskynet:
    external:
      name: starsky_network
